<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">

<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="assets/css/academicons.css"/>

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- 取消二级标题和 <hr> 的那条底边 -->
<style>
  /* 所有 h2（比如 ## Educations） */
  h2{
    border-bottom:none !important;
    padding-bottom:10px !important;  /* 底边没了，顺便收紧空隙 */
  }
  h3{
    border-bottom:none !important;
    padding-bottom:0 !important;  /* 底边没了，顺便收紧空隙 */
  }
  h4{
    border-bottom:none !important;
    padding-bottom:0 !important;  /* 底边没了，顺便收紧空隙 */
  }
  h5{
    border-bottom:none !important;
    padding-bottom:0 !important;  /* 底边没了，顺便收紧空隙 */
  }
    /* 如果横线其实是 <hr> 画的，一并隐藏 */
  hr{ display:none !important; }
</style>

<!-- end custom head snippets -->
